name: CI

on:
  push:
    branches:
      - main
    paths:
      - ".github/workflows/ci.yml"
      - "src/**"
      - "package.json"
      - "pnpm-lock.yaml"
      - "tsconfig*.json"
  pull_request:
    branches:
      - main
    paths:
      - ".github/workflows/ci.yml"
      - "src/**"
      - "package.json"
      - "pnpm-lock.yaml"
      - "tsconfig*.json"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 9

      - uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: "pnpm"

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Build
        run: pnpm run build:tsc
